<footer class="bg-primary text-white" style="background-color: rgb(28, 41, 48);">
    <div class="container p-4" style="background-color: rgb(28, 41, 48);">
        <div class="row my-4">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                     style="width: 150px; height: 150px;">
                    <img src="path/to/phoenixflight/logo.png" height="70" alt="PhoenixFlight Logo" loading="lazy"/>
                </div>

                <p class="text-center">PhoenixFlight - Dịch vụ chuyến bay chất lượng cao</p>

                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white ps-2" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Chuyến bay</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas fa-plane pe-3"></i>Đặt chỗ chuyến bay</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas fa-plane pe-3"></i>Trạng thái chuyến bay</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Theo dõi</h5>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="fab fa-tiktok pe-2"></i>Tiktok</p>
                    </li>
                    <li>
                        <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                    </li>
                    <li>
                        <p><i class="fab fa-youtube pe-2"></i>Youtube</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <p class="mb-0">Công ty TNHH PhoenixFlight Việt Nam. Mã số DN: 123456789. Tòa nhà A, 1301 đường 3/2, P. 14,
            Q.
            10, TPHCM</p>
        <p class="mb-0">© 2023 PhoenixFlight | Đã đăng ký bản quyền</p>
    </div>

</footer>